# Prerequisites
.DS_Store

# -------------------------------------
# Emacs ignore
# -------------------------------------

/url
/auto-save-list
/elpa
/_backup
/server

ido.last
projectile.cache
projectile-bookmarks.eld

# User personal settings
/.docsets
/.cache
/.local
/prescient-items
/eshell
/transient

.lsp-session-v1
.mc-lists.el
.persistent-scratch
user.el
recentf
