# Prerequisites
.DS_Store

# -------------------------------------
# Emacs ignore
# -------------------------------------

/url
/auto-save-list
/elpa
/_backup

ido.last
projectile.cache
projectile-bookmarks.eld

# User personal settings
/.cache
user.el
recentf
/irony