# Prerequisites
.DS_Store

# -------------------------------------
# Emacs ignore
# -------------------------------------

/auto-save-list
/elpa
/_backup

ido.last
projectile.cache
projectile-bookmarks.eld

# User personal settings
user.el 